<!-- Footer Start -->
<footer class="footer">
<div class="container-fluid flex w-full justify-center gap-base">
<div>
            ©
            <script>
                document.write(new Date().getFullYear())
            </script>
            Paces by
            <span class="font-semibold">Coderthemes</span>
</div>
</div>
</footer>
<!-- Footer End -->
