@page "/form/fileuploads"
@model DRSIBOX.Pages.Form.FileuploadsModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@{
    ViewBag.title = "File Upload";
    ViewBag.subtitle = "Forms";
    var csrfToken = Antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}


@section Styles {
    <meta name="csrf-token" content="@csrfToken" />
    <link rel="stylesheet" href="/plugins/choices/choices.min.css" />
    <link rel="stylesheet" href="/plugins/uppy/uppy.min.css" />
    <style>
        #uppy-dashboard .uppy-Dashboard-inner {
            width: 100% !important;
            border-radius: 0.5rem !important;
        }
        #uppy-dashboard .uppy-Dashboard-AddFiles {
            border: none !important;
            padding: 8px !important;
        }
        #uppy-dashboard .uppy-Dashboard-AddFiles-title {
            font-size: 0.9rem !important;
            margin-bottom: 4px !important;
        }
        #uppy-dashboard .uppy-DashboardTab-btn {
            padding: 6px 10px !important;
        }
    </style>
}


<div class="wrapper">
        @await Html.PartialAsync("~/Pages/Shared/Partials/_Topbar.cshtml")

        @await Html.PartialAsync("~/Pages/Shared/Partials/_Sidenav.cshtml")

        <!-- Start Page Content here -->
<div class="page-content">
<main>

                @await Html.PartialAsync("~/Pages/Shared/Partials/_PageTitle.cshtml")

                <div class="container-fluid">
<div class="grid grid-cols-1 gap-base">
@if (Model.IsDrsi)
{
<input type="hidden" id="folder-select" value="@Model.PersonalFolder" />
<div class="card">
<div class="card-header block">
<h4 class="card-title mb-1.25">Ciljna mapa</h4>
<p class="text-default-400">Datoteke bodo naložene v vašo osebno mapo.</p>
</div>
<div class="card-body">
<div class="flex items-center gap-2 p-3 rounded-lg bg-info/10 text-info">
<i class="iconify tabler--folder-filled text-lg"></i>
<span class="text-sm font-medium">@Model.PersonalFolder</span>
</div>
</div>
</div>
}
else
{
<div class="card">
<div class="card-header block">
<h4 class="card-title mb-1.25">Ciljna mapa</h4>
<p class="text-default-400">Izberite mapo, v katero bodo naloženi dokumenti.</p>
</div>
<div class="card-body">
<label class="form-label" for="folder-select">Občina <span class="text-danger">*</span></label>
<select id="folder-select" class="form-select" required>
<option value="">-- Izberite občino --</option>
<option value="Ajdovščina">Ajdovščina</option>
<option value="Ankaran">Ankaran</option>
<option value="Apače">Apače</option>
<option value="Beltinci">Beltinci</option>
<option value="Benedikt">Benedikt</option>
<option value="Bistrica ob Sotli">Bistrica ob Sotli</option>
<option value="Bled">Bled</option>
<option value="Bloke">Bloke</option>
<option value="Bohinj">Bohinj</option>
<option value="Borovnica">Borovnica</option>
<option value="Bovec">Bovec</option>
<option value="Braslovče">Braslovče</option>
<option value="Brda">Brda</option>
<option value="Brežice">Brežice</option>
<option value="Brezovica">Brezovica</option>
<option value="Cankova">Cankova</option>
<option value="Celje">Celje</option>
<option value="Cerklje na Gorenjskem">Cerklje na Gorenjskem</option>
<option value="Cerknica">Cerknica</option>
<option value="Cerkno">Cerkno</option>
<option value="Cerkvenjak">Cerkvenjak</option>
<option value="Cirkulane">Cirkulane</option>
<option value="Črenšovci">Črenšovci</option>
<option value="Črna na Koroškem">Črna na Koroškem</option>
<option value="Črnomelj">Črnomelj</option>
<option value="Destrnik">Destrnik</option>
<option value="Divača">Divača</option>
<option value="Dobje">Dobje</option>
<option value="Dobrepolje">Dobrepolje</option>
<option value="Dobrna">Dobrna</option>
<option value="Dobrova - Polhov Gradec">Dobrova - Polhov Gradec</option>
<option value="Dobrovnik">Dobrovnik</option>
<option value="Dol pri Ljubljani">Dol pri Ljubljani</option>
<option value="Dolenjske Toplice">Dolenjske Toplice</option>
<option value="Domžale">Domžale</option>
<option value="Dornava">Dornava</option>
<option value="Dravograd">Dravograd</option>
<option value="Duplek">Duplek</option>
<option value="Gorenja vas - Poljane">Gorenja vas - Poljane</option>
<option value="Gorišnica">Gorišnica</option>
<option value="Gorje">Gorje</option>
<option value="Gornja Radgona">Gornja Radgona</option>
<option value="Gornji Grad">Gornji Grad</option>
<option value="Gornji Petrovci">Gornji Petrovci</option>
<option value="Grad">Grad</option>
<option value="Grosuplje">Grosuplje</option>
<option value="Hajdina">Hajdina</option>
<option value="Hoče - Slivnica">Hoče - Slivnica</option>
<option value="Hodoš">Hodoš</option>
<option value="Horjul">Horjul</option>
<option value="Hrastnik">Hrastnik</option>
<option value="Hrpelje - Kozina">Hrpelje - Kozina</option>
<option value="Idrija">Idrija</option>
<option value="Ig">Ig</option>
<option value="Ilirska Bistrica">Ilirska Bistrica</option>
<option value="Ivančna Gorica">Ivančna Gorica</option>
<option value="Izola">Izola</option>
<option value="Jesenice">Jesenice</option>
<option value="Jezersko">Jezersko</option>
<option value="Juršinci">Juršinci</option>
<option value="Kamnik">Kamnik</option>
<option value="Kanal ob Soči">Kanal ob Soči</option>
<option value="Kidričevo">Kidričevo</option>
<option value="Kobarid">Kobarid</option>
<option value="Kobilje">Kobilje</option>
<option value="Kočevje">Kočevje</option>
<option value="Komen">Komen</option>
<option value="Komenda">Komenda</option>
<option value="Koper">Koper</option>
<option value="Kostanjevica na Krki">Kostanjevica na Krki</option>
<option value="Kostel">Kostel</option>
<option value="Kozje">Kozje</option>
<option value="Kranj">Kranj</option>
<option value="Kranjska Gora">Kranjska Gora</option>
<option value="Križevci">Križevci</option>
<option value="Krško">Krško</option>
<option value="Kungota">Kungota</option>
<option value="Kuzma">Kuzma</option>
<option value="Laško">Laško</option>
<option value="Lenart">Lenart</option>
<option value="Lendava">Lendava</option>
<option value="Litija">Litija</option>
<option value="Ljubljana">Ljubljana</option>
<option value="Ljubno">Ljubno</option>
<option value="Ljutomer">Ljutomer</option>
<option value="Log - Dragomer">Log - Dragomer</option>
<option value="Logatec">Logatec</option>
<option value="Loška dolina">Loška dolina</option>
<option value="Loški Potok">Loški Potok</option>
<option value="Lovrenc na Pohorju">Lovrenc na Pohorju</option>
<option value="Luče">Luče</option>
<option value="Lukovica">Lukovica</option>
<option value="Majšperk">Majšperk</option>
<option value="Makole">Makole</option>
<option value="Maribor">Maribor</option>
<option value="Markovci">Markovci</option>
<option value="Medvode">Medvode</option>
<option value="Mengeš">Mengeš</option>
<option value="Metlika">Metlika</option>
<option value="Mežica">Mežica</option>
<option value="Miklavž na Dravskem polju">Miklavž na Dravskem polju</option>
<option value="Miren - Kostanjevica">Miren - Kostanjevica</option>
<option value="Mirna">Mirna</option>
<option value="Mirna Peč">Mirna Peč</option>
<option value="Mislinja">Mislinja</option>
<option value="Mokronog - Trebelno">Mokronog - Trebelno</option>
<option value="Moravče">Moravče</option>
<option value="Moravske Toplice">Moravske Toplice</option>
<option value="Mozirje">Mozirje</option>
<option value="Murska Sobota">Murska Sobota</option>
<option value="Muta">Muta</option>
<option value="Naklo">Naklo</option>
<option value="Nazarje">Nazarje</option>
<option value="Nova Gorica">Nova Gorica</option>
<option value="Novo Mesto">Novo Mesto</option>
<option value="Odranci">Odranci</option>
<option value="Oplotnica">Oplotnica</option>
<option value="Ormož">Ormož</option>
<option value="Osilnica">Osilnica</option>
<option value="Pesnica">Pesnica</option>
<option value="Piran">Piran</option>
<option value="Pivka">Pivka</option>
<option value="Podčetrtek">Podčetrtek</option>
<option value="Podlehnik">Podlehnik</option>
<option value="Podvelka">Podvelka</option>
<option value="Poljčane">Poljčane</option>
<option value="Polzela">Polzela</option>
<option value="Postojna">Postojna</option>
<option value="Prebold">Prebold</option>
<option value="Preddvor">Preddvor</option>
<option value="Prevalje">Prevalje</option>
<option value="Ptuj">Ptuj</option>
<option value="Puconci">Puconci</option>
<option value="Rače - Fram">Rače - Fram</option>
<option value="Radeče">Radeče</option>
<option value="Radenci">Radenci</option>
<option value="Radlje ob Dravi">Radlje ob Dravi</option>
<option value="Radovljica">Radovljica</option>
<option value="Ravne na Koroškem">Ravne na Koroškem</option>
<option value="Razkrižje">Razkrižje</option>
<option value="Rečica ob Savinji">Rečica ob Savinji</option>
<option value="Renče - Vogrsko">Renče - Vogrsko</option>
<option value="Ribnica">Ribnica</option>
<option value="Ribnica na Pohorju">Ribnica na Pohorju</option>
<option value="Rogaška Slatina">Rogaška Slatina</option>
<option value="Rogašovci">Rogašovci</option>
<option value="Rogatec">Rogatec</option>
<option value="Ruše">Ruše</option>
<option value="Šalovci">Šalovci</option>
<option value="Selnica ob Dravi">Selnica ob Dravi</option>
<option value="Semič">Semič</option>
<option value="Šempeter - Vrtojba">Šempeter - Vrtojba</option>
<option value="Šenčur">Šenčur</option>
<option value="Šentilj">Šentilj</option>
<option value="Šentjernej">Šentjernej</option>
<option value="Šentjur">Šentjur</option>
<option value="Šentrupert">Šentrupert</option>
<option value="Sevnica">Sevnica</option>
<option value="Sežana">Sežana</option>
<option value="Škocjan">Škocjan</option>
<option value="Škofja Loka">Škofja Loka</option>
<option value="Škofljica">Škofljica</option>
<option value="Slovenj Gradec">Slovenj Gradec</option>
<option value="Slovenska Bistrica">Slovenska Bistrica</option>
<option value="Slovenske Konjice">Slovenske Konjice</option>
<option value="Šmarje pri Jelšah">Šmarje pri Jelšah</option>
<option value="Šmarješke Toplice">Šmarješke Toplice</option>
<option value="Šmartno ob Paki">Šmartno ob Paki</option>
<option value="Šmartno pri Litiji">Šmartno pri Litiji</option>
<option value="Sodražica">Sodražica</option>
<option value="Solčava">Solčava</option>
<option value="Šoštanj">Šoštanj</option>
<option value="Starše">Starše</option>
<option value="Štore">Štore</option>
<option value="Straža">Straža</option>
<option value="Sveta Ana">Sveta Ana</option>
<option value="Sveta Trojica v Slovenskih goricah">Sveta Trojica v Slovenskih goricah</option>
<option value="Sveti Andraž v Slovenskih goricah">Sveti Andraž v Slovenskih goricah</option>
<option value="Sveti Jurij ob Ščavnici">Sveti Jurij ob Ščavnici</option>
<option value="Sveti Jurij v Slovenskih goricah">Sveti Jurij v Slovenskih goricah</option>
<option value="Sveti Tomaž">Sveti Tomaž</option>
<option value="Tabor">Tabor</option>
<option value="Tišina">Tišina</option>
<option value="Tolmin">Tolmin</option>
<option value="Trbovlje">Trbovlje</option>
<option value="Trebnje">Trebnje</option>
<option value="Trnovska vas">Trnovska vas</option>
<option value="Tržič">Tržič</option>
<option value="Turnišče">Turnišče</option>
<option value="Velenje">Velenje</option>
<option value="Velika Polana">Velika Polana</option>
<option value="Velike Lašče">Velike Lašče</option>
<option value="Veržej">Veržej</option>
<option value="Videm">Videm</option>
<option value="Vipava">Vipava</option>
<option value="Vitanje">Vitanje</option>
<option value="Vodice">Vodice</option>
<option value="Vojnik">Vojnik</option>
<option value="Vransko">Vransko</option>
<option value="Vrhnika">Vrhnika</option>
<option value="Vuzenica">Vuzenica</option>
<option value="Zagorje ob Savi">Zagorje ob Savi</option>
<option value="Zavrč">Zavrč</option>
<option value="Zreče">Zreče</option>
<option value="Žalec">Žalec</option>
<option value="Železniki">Železniki</option>
<option value="Žetale">Žetale</option>
<option value="Žiri">Žiri</option>
<option value="Žirovnica">Žirovnica</option>
<option value="Žužemberk">Žužemberk</option>
</select>
<p class="text-danger text-sm mt-1 hidden" id="folder-required-msg">Pred nalaganjem izberite občino.</p>
</div>
</div>
}
<div id="uppy-dashboard"></div>
<div id="tus-file-list" class="mt-4 hidden">
    <h5 class="mb-3 text-sm font-semibold text-default-600">Datoteke v tej seji</h5>
    <div id="tus-file-items" class="flex flex-col gap-2"></div>
</div>
<div class="card hidden" id="tus-notification-card">
<div class="card-header block">
<h4 class="card-title mb-1.25">Pošlji obvestilo</h4>
<p class="text-default-400">Po končanem nalaganju pošljite obvestilo z informacijami o naloženih datotekah.</p>
</div>
<div class="card-body">
<div class="grid grid-cols-1 lg:grid-cols-2 gap-6">

    <!-- Levo: povzetek in seznam datotek -->
    <div class="flex flex-col gap-4">
        <div class="p-3 bg-default-50 border border-default-200 rounded-lg">
            <div class="flex items-center justify-between text-sm mb-2">
                <span class="text-default-500">Naložene datoteke:</span>
                <span class="font-medium" id="notif-file-count">0</span>
            </div>
            <div class="flex items-center justify-between text-sm mb-2">
                <span class="text-default-500">Skupna velikost:</span>
                <span class="font-medium" id="notif-total-size">0 B</span>
            </div>
            <div class="flex items-center justify-between text-sm">
                <span class="text-default-500">Mapa (občina):</span>
                <span class="font-medium" id="notif-folder">—</span>
            </div>
        </div>
        <div>
            <label class="form-label">Datoteke</label>
            <div id="notif-file-detail" class="flex flex-col gap-1.5 text-sm text-default-600"></div>
        </div>
    </div>

    <!-- Desno: vnos prejemnikov, sporočila in gumb -->
    <div class="flex flex-col gap-4">
        @if (Model.IsDrsi)
        {
        <div>
            <label class="form-label" for="notif-recipients">Prejemniki <span class="text-danger">*</span></label>
            <textarea id="notif-recipients" class="form-control w-full" rows="5" placeholder="e-poštni naslovi, ločeni z vejico ali novo vrstico..."></textarea>
            <p class="text-default-400 text-xs mt-1">Vnesite enega ali več e-poštnih naslovov (ločite z vejico ali novo vrstico).</p>
        </div>
        }
        <div class="flex-1 flex flex-col">
            <label class="form-label" for="notif-message">Sporočilo</label>
            <textarea id="notif-message" class="form-control w-full flex-1" rows="6" placeholder="Vnesite sporočilo..."></textarea>
        </div>
        <div>
            <div id="notif-alert" class="hidden mb-3"></div>
            <button id="notif-send-btn" type="button" class="btn btn-primary w-full">
                <i class="iconify tabler--send text-base me-1"></i> Pošlji obvestilo
            </button>
        </div>
    </div>

</div>
</div>
</div>
</div>
</main>

            @await Html.PartialAsync("~/Pages/Shared/Partials/_Footer.cshtml")

        </div>
<!-- End Page content -->
</div>

    @await Html.PartialAsync("~/Pages/Shared/Partials/_Customizer.cshtml")

    @await Html.PartialAsync("~/Pages/Shared/Partials/_FooterScripts.cshtml")

    <!-- Dropzone Plugin Js -->

<!-- Filepond Plugin Js -->





<!-- File Upload Demo Js -->



@section Scripts {
    <script src="/plugins/choices/choices.min.js"></script>
    <script src="/plugins/dropzone/dropzone-min.js"></script>
    <script src="/plugins/filepond/filepond.min.js"></script>
    <script src="/plugins/filepond/filepond-plugin-image-preview.min.js"></script>
    <script src="/plugins/filepond/filepond-plugin-file-validate-size.min.js"></script>
    <script src="/plugins/filepond/filepond-plugin-image-exif-orientation.min.js"></script>
    <script src="/plugins/filepond/filepond-plugin-file-encode.min.js"></script>
    <script src="/plugins/uppy/uppy.min.js"></script>
    <script src="/js/pages/form-fileupload.js"></script>
}
