@page "/layouts/scrollable"
@model DRSIBOX.Pages.Layouts.ScrollableModel


@{
    ViewBag.title = "Scrollable";
    ViewBag.subtitle = "Layouts";
    ViewBag.HTMLAttributes = "data-layout-position=scrollable";
}


@section Styles {

}


<div class="wrapper">

        @await Html.PartialAsync("~/Pages/Shared/Partials/_Topbar.cshtml")

        @await Html.PartialAsync("~/Pages/Shared/Partials/_Sidenav.cshtml")

        <!-- Start Page Content here -->
<div class="page-content">
<main>

                @await Html.PartialAsync("~/Pages/Shared/Partials/_PageTitle.cshtml")

                <div class="container-fluid">
<div class="bg-info/10 text-info border-s-3 border-info rounded-md flex items-start gap-3 py-3 px-4 mb-4">
<div>
<i class="iconify tabler--info-circle text-xl"></i>
</div>
<div>
                            To enable full scrolling and view all content, please add
                            <code>data-layout-position="scrollable"</code>
                            to the
                            <code>&lt;html&gt;</code>
                            tag.
                        </div>
</div>
<div style="min-height: 100vh"></div>
</div>
</main>

            @await Html.PartialAsync("~/Pages/Shared/Partials/_Footer.cshtml")
        </div>
<!-- End Page content -->
</div>

    @await Html.PartialAsync("~/Pages/Shared/Partials/_Customizer.cshtml")

    @await Html.PartialAsync("~/Pages/Shared/Partials/_FooterScripts.cshtml")


@section Scripts {

}
